

<div class="containerRegister">
    <div class="hero">
        <form action="/reset/token" method="POST" class="formRegistro">
            <div class="titulo">Restablecer Contraseña</div>
            <input type="hidden" name="token" value="{{token}}" class="inputRegistro" placeholder="token">
            <label for="newPassword">Nueva Contraseña:</label>
            <input type="password" name="newPassword" id="newPassword" required="" class="inputRegistro"  placeholder="Contraseña">
            <button class="boton" type="submit">Enviar</button>
        </form>
    </div>
</div>

