{{!-- // agrego vista para resetear contraseña --}}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Restablecimiento de Contraseña</title>
</head>

<body>
    <h1>Restablecer Contraseña</h1>
    <p>soy un: {{token}}</p>
    <p>Por favor, ingresa tu nueva contraseña:</p>
    <form action="/reset/token" method="POST">
        <input type="hidden" name="token" value="{{./token}}">
        <label for="newPassword">Nueva Contraseña:</label>
        <input type="password" name="newPassword" id="newPassword" required>
        <br>
        <input type="submit" value="Restablecer Contraseña">
    </form>
</body>

</html>