.tituloAdministrador{
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 4%;
}

.btnEliminar{
    margin-top: 40px;
    margin-left: 72px;

}

.tarjetaAdmin{
    flex: 0 0 calc(20% - 20px);
    width: 255px;
    height: 278px;
    /* background: lightgrey; */
    border: 3px inset white;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
    transition: all .5s ease-in-out;
    border-radius: 1.5rem;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: #8a8989;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
    max-width: 100%;
    padding: 20px;
}